body{
    background-color: rgb(206, 208, 209);
}
.fa{
    color: rgb(90, 90, 207)
}
.text{
    margin:20px 5px
}
a{
    border-bottom: 1px solid blue;
}
.box-inside{
    background-color: aliceblue;
    text-align: center;
    padding:50px 5px;
    margin:30px 5px;
}
.box{
    padding:60px 5px;
}